.WelcomeScreen {
  position: fixed;
  background: #fceabb; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to left,
		#f8b500,
		#fceabb
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#f8b500,
		#fceabb
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.WS-logo {
  margin: 20px;
  border-radius: 5px;
  width: 250px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-button {
	color: #494949;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	border: 4px solid #494949;
	display: inline-block;
	transition: all 0.4s ease 0s;
	min-width: 10rem;
	margin: 1rem;
}

.google-btn {
	width: 184px;
	height: 42px;
	margin: 1rem;
	background-color: #4285f4;
	border-radius: 2px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.google-icon-wrapper {
	position: absolute;
	margin-top: 1px;
	margin-left: 1px;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	background-color: #fff;
}

.google-icon {
	position: absolute;
	margin-top: 11px;
	margin-left: -8px;
	width: 18px;
	height: 18px;
}

.btn-text {
	float: right;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.2px;
	font-family: 'Roboto';
	background-color: #4285f4;
	width: 80%;
	height: 100%;
	text-align: center;
}

.policy-link {
  text-decoration: none;
  font-size: 1.1rem;
}