* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #c2e59c; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#64b3f4,
		#c2e59c
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#64b3f4,
		#c2e59c
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
}

.logo {
	position: absolute;
	top: 0;
	left: 0;
	margin: -30px 0;
	width: 150px;
}

ul {
	list-style: none;
}

.city-btn {
	cursor: pointer;
}

.EventList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
}

.event {
	background-color: whitesmoke;
	border-radius: 5px;
	padding: 30px;
	margin: 10px;
}

input {
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	border: none;
}

input:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

button {
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}
